* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    padding: 25px;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: flex;
    justify-content: end;
}

nav ul li {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    /* background-color: blue; */
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

p {
    color: #555;
    font-size: 18px;
    margin-top: 5px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* background-color: rgb(248, 110, 172); */
}

.row {
    display: flex;
    align-items: center;
    flex: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: blue; */
}

.col-2 {
    min-width: 300px;
    flex-basis: 50%;
    /* background-color: blue; */
}
.col-2 img {
    max-width: 100%;
    padding: 20px 0px;
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color: white;
    padding: 9px 30px;
    margin: 10px 0px;
    border-radius: 30px;
    transition: background 0.5s;
}

.header {
    background: linear-gradient(45deg, #fff, #ffd6d6);
}

.header .row {
    margin-top: 30px;
}

.btn:hover {
    background-color: #563434;
    padding: 9px 30px;
    margin: 10px 0px;
}

.categories {
    margin: 70px 0;
}

.col-1 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-1 img {
    width: 100%;
    border-radius: 15px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25;
    padding-right: 25;
}

.col-1 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.2s;
}

.col-1 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 30px;
    position: relative;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.rating {
    color: rgb(242, 144, 45);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-1 p {
    font-size: 14px;
}

.col-1:hover {
    transform: translateY(-5px);
}

/* offer */

.offer {
    background: linear-gradient(45deg, #fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 60px;
    /* background-color: #ff523b; */
}

small {
    color: #555;
}

/* testimonial */

.testimonial {
    padding-top: 100px;
    text-align: center;
}

.testimonial .col-1 {
    padding: 40px 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-1 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-1:hover {
    transform: translateY(-10px);
}

.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-1 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-1 h4 {
    color: #666;
    font-weight: 600;
    font-size: 16px;
}

/* brands */

.brands {
    margin: 100px 0;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}
